html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  touch-action: manipulation;
  overflow-x: hidden;
  overflow-y: scroll;
}

p {
  margin-right: 100px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(69, 68, 119);
  position: fixed;
  top: 0;
  width: 100%;
}

button:focus {outline:0;}
input:focus {outline:0;}
textarea:focus {outline:0;}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(59, 58, 102);
}

.active {
  background-color: rgb(27, 27, 27);
}

.spacer-title {
  margin-top: 100px;
}

.spacer-main {
  margin-left: 25px;
  margin-top: 100px;
}

.inputbox {
  border-radius: 10px;
  background: white;
  padding: 20px; 
  width: 400px;
  height: 1px;  
  font-size: 12px;
  border-color: rgb(0, 0, 0);
}

.register-button {
  border-radius: 10px;
  background-color: rgb(39, 39, 39); /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.contentbox {
  border-radius: 10px;
  background: white;
  padding: 40px; 
  width: 370px;
  height: 65px;  
  font-size: 12px;
  border-color: rgb(0, 0, 0);
  resize: none;
}

.optionbox {
  border-radius: 10px;
  background: white;
  padding: 40px; 
  width: 125px;
  height: 20px;  
  font-size: 12px;
  border-color: rgb(0, 0, 0);
  resize: none;
}

.register-button:hover {
  background-color: rgb(44, 44, 44);
}

.black-box {
  border-radius: 25px;
  background: rgb(26, 26, 26);
  padding: 10px; 
  width: 500px;
  height: 300px; 
}

.white-box {
  border-radius: 25px;
  background: rgb(240, 240, 240);
  padding: 10px; 
  width: 500px;
  height: 300px; 
  position: fixed;
  left: 166px;
  top: 100px;
  margin: 0 auto;
}

.largeh {
  height: 500px;
}

.smallh {
  height: 60px;
}

.smallw {
  width: 300px;
}

.largew {
  width: 600px;
}

.black-card {
  border-radius: 25px;
  background: rgb(26, 26, 26);
  padding: 20px; 
  width: 500px;
  height: 300px;
}

.nonfixed {
  position: absolute;
}

.hide {
  visibility: hidden;
}

pre {
  font-family: 'Roboto';
}

@media only screen and (max-width: 260px) {
  input 				{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width: 100px;
    border:none;
    border-bottom:1px solid #757575;
  }
  .bar 	{ 
    width:100px; 
  }
}

* { box-sizing:border-box; }

/* basic stylings ------------------------------------------ */

.container 		{ 
  font-family:'Roboto';
  width:600px; 
  margin:30px auto 0; 
  display:block; 
  background:#FFF;
  padding:10px 50px 50px;
}
h2 		 { 
  text-align:center; 
  margin-bottom:50px; 
}
h2 small { 
  font-weight:normal; 
  color:#888; 
  display:block; 
}
.footer 	{ text-align:center; }
.footer a  { color:#53B2C8; }

/* form starting stylings ------------------------------- */
.group 			  { 
  position:relative; 
  margin-bottom:45px; 
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  width:13vw;
  border:none;
  border-bottom:1px solid #757575;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#999; 
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:13vw; }
.bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

/* FLOAT */
.btnLogin {
  background: none;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.btnRegister {
  background: none;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.5);
}

.btnLogin:before {
  content: 'Login';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  transition: all 0.2s ;
}

.btnRegister:before {
  content: 'Register';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  transition: all 0.2s ;
}

.btnLightBlue.btnLogin:before {
  background: rgb(69, 68, 119);
}

.btnLightBlue.btnRegister:before {
  background: rgb(69, 68, 119);
}

.btnLogin:before {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.4);
}

.btnRegister:before {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.4);
}

.btnLogin:hover:before {
  margin-top: -2px;
  margin-left: 0px;
  transform: scale(1.1,1.1);
  -ms-transform: scale(1.1,1.1);
  -webkit-transform: scale(1.1,1.1);
  box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.25);
}

.btnRegister:hover:before {
  margin-top: -2px;
  margin-left: 0px;
  transform: scale(1.1,1.1);
  -ms-transform: scale(1.1,1.1);
  -webkit-transform: scale(1.1,1.1);
  box-shadow: 0px 5px 5px -2px rgba(0, 0, 0, 0.25);
}

button {
  display: block;
  position: relative;
  float: left;
  width: 80px;
  padding: 0;
  margin: 10px 20px 10px 0;
  font-weight: 600;
  text-align: center;
  line-height: 30px;
  color: #FFF;
  border-radius: 5px;
  transition: all 0.2s ;
}

a.button {
  font-size: 12px;
  display: block;
  position: relative;
  float: left;
  font-weight: 600;
  width: 80px;
  padding: 0;
  margin: 10px 20px 10px 0;
  font-weight: 600;
  text-align: center;
  line-height: 30px;
  color: #FFF;
  border-radius: 5px;
  transition: all 0.2s ;
}

/* python -m SimpleHTTPServer | Command for setting up localhost */